{% extends 'base.html.twig' %}

{% block title %}One piece{% endblock %}

{% block body %}
    <div class="grid__container aos__animate" data-aos="fade-up">
        <div class="row">
            <div class="content content__wrapper">
                <div class="posts column__3" style="position: relative; height: 1747px">
                    <article class="bgstyle grid__33 tablet__grid_50"
                             style="position: absolute; left: 0; top: 0">
                        <div class="post__wrapper">
                            <div class="top">
                                <div class="post__format_image post__format_wrapper">
                                    <div class="featured__image">
                                        <a href="#" class="thumb hover__effect">
                                            <span class="fullimage cover"
                                                  style="background-image: url('http://estudiopatagon.com/themes/wordpress/breek/wp-content/uploads/2019/06/480016-PGKTGR-852-op.jpg')"></span>
                                        </a>
                                        <div class="tags absolute"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </article>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
