{% extends 'base.html.twig' %}

{% block body %}
    <div class="center content">
        <div class="page__wrapper">
            <div class="left__content grid__70">
                <article class="main__post">

                </article>
            </div>
        </div>
    </div>
{% endblock %}