.title {
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  font-size: 24px;
  margin-bottom: 40px;
  line-height: 1.6;
  letter-spacing: 0.6px;

  &:after {
    content: '';
    display: block;
    width: 100%;
    height: 2px;
    background: #f4f4f4;
    margin-top: 10px;
  }

  &.small {
    font-size: 18px;
    margin-bottom: 10px;
    line-height: 1.45;
  }
}

.text__center {
  text-align: center !important;
}

.fw__normal {
  font-weight: normal !important;
}

.fw__bold {
  font-weight: bold !important;
}

.white {
  color: #FFFFFF !important;
}