#header .menu__wrapper {
  padding: 50px 0 0;
}

.grid__container {
  margin-left: auto;
  margin-right: auto;
  max-width: 1200px;
  padding-left: 20px;
  padding-right: 20px;

  &:before, &:after {
    content: '.';
    display: block;
    overflow: hidden;
    visibility: hidden;
    font-size: 0;
    line-height: 0;
    width: 0;
    height: 0;
  }

  &:after {
    clear: both;
  }

  &.grid__small {
    max-width: 780px;
  }
}

.grid__parent {
  padding-left: 0;
  padding-right: 0;
}

#header .logo {
  text-align: center;
  margin: 5px auto;
  float: left;

  a {
    display: block;
    color: var(--color-white);
  }

  a img {
    display: block;
    max-width: 100%;
    height: auto;
    margin: 0 auto;
  }
}

#header nav {
  position: relative;
  z-index: 100;
  text-align: right;
  float: right;

  ul.menu {
    font-size: 0;
  }

  ul.menu li {
    display: inline-block;
    position: relative;
    padding: 20px 10px 20px;
  }

  ul.menu li a {
    display: inline-block;
    font-family: "Montserrat", sans-serif;
    font-size: 18px;
    font-weight: 600;
    line-height: 1.45;
    letter-spacing: 0.5px;
    position: relative;
    z-index: 1;
    color: #fff;
  }

  ul.menu li a.lightbox {
    background: none;
    font-size: 20px;
    top: 3px;
  }
}

#header div.border {
  border-bottom: 2px solid rgba(255, 255, 255, 0.25);
  margin-top: 40px;
}

#sidebar {
  border: 0;
  position: relative;
  z-index: 2;
  float: right;
  padding: 0;

  .widget {
    color: #666666;
    position: relative;
    -webkit-box-shadow: 0 0 6px 0 rgb(0 0 0 / 15%);
    box-shadow: 0 0 6px 0 rgb(0 0 0 / 15%);
    background: #FFFFFF;
    border-radius: 15px;
    padding: 30px;
    margin-bottom: 30px;
  }

  .widget ul > li {
    display: block;
    position: relative;
    z-index: 1;
    clear: both;
    text-align: right;
    background: none;
    line-height: 30px;
    margin-bottom: 10px;
    padding-bottom: 10px;
    padding-left: 0;
    border-bottom: 1px solid #F4F4F4;
    font-size: 16px;
  }

  .widget ul > li a {
    font-size: 16px;
    float: left;
  }

  .widget ul > li:after {
    content: '';
    display: block;
    width: 100%;
    clear: both;
  }
}

@media screen and (max-width: 1023px) {
  #header {
    position: relative;
  }
}